# Supabase Storage (S3)
S3_ENDPOINT_URL=https://SEU_PROJECT_REF.storage.supabase.co/storage/v1/s3
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=sua_access_key
AWS_SECRET_ACCESS_KEY=sua_secret_key
BUCKET_NAME=datalake_ecommerce

# PostgreSQL (Supabase)
DATABASE_URL=postgresql+psycopg2://postgres:SUA_SENHA@db.SEU_PROJECT_REF.supabase.co:6543/postgres
